language: go
sudo: false

matrix:
  include:
    - go: 1.3
    - go: 1.4
    - go: 1.5
    - go: 1.6
    - go: 1.7

install:
  - # skip

script:
  - go get -t -v ./...
  - diff -u <(echo -n) <(gofmt -d .)
  - go test -v -race ./...

after_success:
  - bash <(curl -s https://codecov.io/bash)
